{% extends 'base.html.twig' %}
{% block title %}Read Note{% endblock %}

{% block body %}
<div class="container" id="container-note-test">
    <div class="row">
        <div class="col">


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
            </div>
        </div>
        </div>
            
            <p>{{ GOOGLE_RECAPTCHA_SITE_KEY }}</p>
            
            <p>guid: {{ guid }}</p>
            <p>key: {{ key }}</p>
            <p>encrypted: {{ encrypted }}</p>
            <p>decrypted: {{ decrypted }}</p>
            <p>decryptedFail: {{ decryptedFail }}</p>

            src<br />
            <textarea id="tst-source" style="width:100%">This is a really long text block, for testing browser cryptography.</textarea><br />
            key<br />
            <textarea id="tst-key" readonly style="width:100%"></textarea><br />
            key SHA-256 hash<br />
            <textarea id="tst-key-hash" readonly style="width:100%"></textarea><br />
            encrypted<br />
            <textarea id="tst-encrypted" readonly style="width:100%"></textarea><br />
            <hr />
            decrypted<br />
            <textarea id="tst-decrypted" readonly style="width:100%"></textarea><br >
            key SHA-256 hash from decrypt app<br />
            <textarea id="tst-key-hash-2" readonly style="width:100%"></textarea><br />

            <button id="btn-encrypt">Gen Key, Encrypt, Decrypt</button>


            <hr />

            <input type="text" value="Last Test, from jQuery event handler" id="cpysrc" class="visually-hidden">

            <div class="nbtooltip">
                <button class="cpy-from" data-inputpath="#cpysrc" >
                    <span class="tooltiptext">Copy to clipboard</span>
                    Copy text
                </button>
            </div>


            <!-- <input type="text" value="Test!!!! Visually Hidden copy" id="cpysrc" class="visually-hidden">

            <div class="nbtooltip">
                <button class="cpy-from" data-inputpath="cpysrc"  onclick="myFunction()" onmouseout="outFunc()">
                    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                    Copy text
                </button>
            </div>

            <script>
            function myFunction() {
                var copyText = document.getElementById("myInput");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(copyText.value);
                
                var tooltip = document.getElementById("myTooltip");
                tooltip.innerHTML = "Copied: " + copyText.value;
            }

            function outFunc() {
                var tooltip = document.getElementById("myTooltip");
                tooltip.innerHTML = "Copy to clipboard";
            }
            </script> -->


        </div>
    </div>
</div>


<script>

</script>

{% endblock %}