<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - securenote.ca</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block recaptchascript %}{% endblock %}
        {% block envvariables %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "name": "Secure Note", "url": "https://securenote.ca/" }</script>
        <meta name="description" content="{% block metadescription %}Securely share a self-destructing encrypted note with anyone.{% endblock %}" />
        <meta property="og:url" content="https://securenote.ca{{ app.request.requesturi }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('metadescription') }}" />
        <meta property="og:image" content="{% block ogimage %}/images/default-og-image.png{% endblock %}" />
        <link rel="canonical" href="https://securenote.ca{{ app.request.requesturi }}" />
    </head>
    <body>
        <div id="main-container" class="d-flex flex-column justify-content-start">
            <div id="header">
                <div class="container pt-3 pb-3" >
                    <div class="row justify-content-md-center">
                        <div class="col header">
                            <a href="/">
                                
                                <svg class="svg-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 423.73 96.34">
                                    <defs><style></style></defs>
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="text"><text class="cls-1" transform="translate(0 61.7)">Secu<tspan class="cls-2" x="164.01" y="0">r</tspan><tspan x="186.69" y="0">e </tspan><tspan class="cls-3" x="245.37" y="0" xml:space="preserve">N  te</tspan></text><text class="cls-4" transform="translate(397.03 60.38)">.ca</text></g><g class="keyhole" data-name="Layer 6"><path d="M312.05,62.62l-7.93,25.75h24.31l-8-28.37,2.07-1.09a13.69,13.69,0,1,0-19.94-12.15h0a13.54,13.54,0,0,0,2.17,7.37,13.81,13.81,0,0,0,5.81,5.08l2.26,1ZM297.56,90.38l8.38-27.18a19.52,19.52,0,0,1-6-6,19.22,19.22,0,0,1-3-10.47h0a19.38,19.38,0,1,1,30.24,16l8.82,31.28H296.42Z"/></g></g></svg>

                                <span class="visually-hidden">Secure Note</span>
                            </a>
                        </div>
                        <div class="col-5 header-aside col-lg-2 d-flex justify-content-end"><a href="/">Create Note</a></div>
                    </div>
                </div>
            </div>
            <div id="sub-header" class="mb-2 mb-md-5">
                <div class="container pt-3 pb-3" >
                    <div class="row justify-content-md-center">
                        <span><a href="/how-it-works">All cryptology is done in the browser</a>. The server never sees your unencrypted data or encryption key.</span>
                    </div>
                </div>
            </div>

            <div id="content">
                {% block body %}{% endblock %}
            </div>
            <div id="footer" class="mt-auto">
                <div class="container pt-5 pb-5">
                    <div class="row">
                        <div class="d-flex justify-content-md-between">

                            <div class="footer-info d-flex flex-column justify-content-between align-self-start justify-content-start">
                                <div>

                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 137.35">
                                        <defs><style></style></defs>
                                        <g id="Layer_2" data-name="Layer 2"><g id="Layer_9" data-name="Layer 9">
                                            <rect class="cls-1" width="135" height="137.35" rx="4.52"/>
                                            <rect class="cls-2" x="10.29" y="20.38" width="61.68" height="9.86"/>
                                            <rect class="cls-2" x="9.58" y="37.79" width="93.51" height="9.86"/>
                                            <rect class="cls-2" x="9.58" y="55.21" width="31.54" height="9.86"/>
                                            <path class="cls-3" d="M47.18,114.48,57.39,81.41a23.65,23.65,0,0,1-7.33-7.27,23.35,23.35,0,0,1-3.72-12.72v0a23.34,23.34,0,0,1,16-22.4A23.62,23.62,0,0,1,83.15,80.91l10.74,38H45.8Z"/></g></g>
                                    </svg>
                                </div>
                                <div>
                                    Contact: <a href="mailto:info@securenote.ca">info@securenote.ca</a>
                                </div>

                                    
                            </div>
                            
                            <div class="footer-nav d-flex flex-column justify-content-between ms-5">
                                <a href="/how-it-works">How It Works</a>
                                <a href="/privacy">Privacy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9BJ869PPBF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-9BJ869PPBF');
</script>