<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - securenote.ca</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script type="text/javascript">
        window.getTheme = function(updateDOM) {
            var theme = 'light';
            if(localStorage.getItem("theme") && ['light', 'dark'].indexOf(localStorage.getItem("theme")) >= 0) {
                theme = localStorage.getItem("theme");
            } else if(!window.matchMedia) {
                return 'dark';
            } else if(window.matchMedia("(prefers-color-scheme: light)").matches) {
                theme = "light";
            }
            else if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
                theme = "dark";
            }
            if(updateDOM) {
                document.documentElement.setAttribute("data-theme", theme);
            }
            return theme;
        }; window.getTheme(true);
        </script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block recaptchascript %}{% endblock %}
        {% block envvariables %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "name": "Secure Note", "url": "https://securenote.ca/" }</script>
        <meta name="description" content="{% block metadescription %}Securely share a self-destructing encrypted note with anyone.{% endblock %}" />
        <meta property="og:url" content="https://securenote.ca{{ app.request.requesturi }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('metadescription') }}" />
        <meta property="og:image" content="{% block ogimage %}/images/default-image-og-2.png{% endblock %}" />
        <link rel="canonical" href="https://securenote.ca{{ app.request.requesturi }}" />
    </head>
    <body>
        <div id="main-container" class="d-flex flex-column justify-content-start">
            <div id="header">
                <div class="container pt-3 pb-3" >
                    <div class="row justify-content-md-center">
                        <div class="col header d-flex flex-column justify-content-center">
                            <a href="/">



                                <svg class="svg-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418.43 84.99"><defs><style></style></defs><g data-name="Layer 2"><g id="text"><path class="cls-1" d="M28.69,8.24a14.54,14.54,0,0,0-8.75-2.48,20.68,20.68,0,0,0-4.24.43A11.31,11.31,0,0,0,12,7.63a7.46,7.46,0,0,0-2.59,2.7,8.33,8.33,0,0,0-1,4.21A5.37,5.37,0,0,0,9.83,18.4a10.34,10.34,0,0,0,3.74,2.41,32.25,32.25,0,0,0,5.29,1.55c2,.41,4,.85,6,1.33s4,1,6,1.69A19.67,19.67,0,0,1,36.18,28a12.38,12.38,0,0,1,3.74,4.17,12.87,12.87,0,0,1,1.41,6.34,12.84,12.84,0,0,1-1.84,7,15,15,0,0,1-4.71,4.75A20.57,20.57,0,0,1,28.33,53a31.31,31.31,0,0,1-7.09.82,30.14,30.14,0,0,1-8.17-1.08A20.2,20.2,0,0,1,6.3,49.43a15.66,15.66,0,0,1-4.61-5.62A18.05,18.05,0,0,1,0,35.71H6.48a11.61,11.61,0,0,0,1.26,5.58,11.35,11.35,0,0,0,3.31,3.85,14,14,0,0,0,4.79,2.24,22,22,0,0,0,5.62.72,25.38,25.38,0,0,0,4.64-.44,13.63,13.63,0,0,0,4.21-1.47,7.9,7.9,0,0,0,4.18-7.45,6.42,6.42,0,0,0-1.41-4.32,10.11,10.11,0,0,0-3.74-2.7A27.61,27.61,0,0,0,24.05,30l-6-1.33Q15,28,12,27.11a21.66,21.66,0,0,1-5.29-2.38A11.26,11.26,0,0,1,3,20.92a11.22,11.22,0,0,1-1.41-5.87A13.56,13.56,0,0,1,3.17,8.32,13.73,13.73,0,0,1,7.38,3.64a18.7,18.7,0,0,1,6-2.74A26.33,26.33,0,0,1,20.23,0a27.29,27.29,0,0,1,7.35.94,16.56,16.56,0,0,1,5.94,3,14.29,14.29,0,0,1,4,5.07,18.31,18.31,0,0,1,1.62,7.31H32.69Q32.1,10.74,28.69,8.24Z"/><path class="cls-1" d="M75,50.26a16.9,16.9,0,0,1-10.51,3.16A19.09,19.09,0,0,1,56.7,52a15.29,15.29,0,0,1-5.51-4,17.2,17.2,0,0,1-3.35-6.19,30.2,30.2,0,0,1-1.26-7.85,22.46,22.46,0,0,1,1.3-7.77A18.36,18.36,0,0,1,51.52,20a16.34,16.34,0,0,1,5.54-4,16.92,16.92,0,0,1,7-1.44,15.23,15.23,0,0,1,8.24,2.06,16.1,16.1,0,0,1,5.26,5.22,20.71,20.71,0,0,1,2.74,6.91,30.16,30.16,0,0,1,.61,7.13H53.06a15,15,0,0,0,.58,4.64,10.47,10.47,0,0,0,2.09,3.89,10.23,10.23,0,0,0,3.67,2.7,12.72,12.72,0,0,0,5.26,1A10.6,10.6,0,0,0,71,46.3a8.75,8.75,0,0,0,3.27-5.48h6C79.54,45,77.73,48.15,75,50.26ZM73.48,26.35a10.39,10.39,0,0,0-5.55-5.58,10.47,10.47,0,0,0-4.21-.83,10.68,10.68,0,0,0-4.28.83A9.78,9.78,0,0,0,56.16,23,11,11,0,0,0,54,26.39a12.8,12.8,0,0,0-.94,4.07H74.45A12.73,12.73,0,0,0,73.48,26.35Z"/><path class="cls-1" d="M109.51,21.89a9.28,9.28,0,0,0-6.19-1.95,11.39,11.39,0,0,0-5.55,1.23,9.85,9.85,0,0,0-3.56,3.24,13.68,13.68,0,0,0-1.91,4.64,25.68,25.68,0,0,0-.57,5.44,20.58,20.58,0,0,0,.61,5,13.39,13.39,0,0,0,1.91,4.35,9.49,9.49,0,0,0,3.38,3.06,11.54,11.54,0,0,0,12.06-1.22,10.73,10.73,0,0,0,3.13-6.7h6.27q-1,6.91-5.15,10.66t-11.27,3.74a19.4,19.4,0,0,1-7.52-1.36,14.6,14.6,0,0,1-5.48-3.89,17,17,0,0,1-3.31-6,25.25,25.25,0,0,1-1.11-7.67,27.25,27.25,0,0,1,1.08-7.81,18.09,18.09,0,0,1,3.27-6.34,15.51,15.51,0,0,1,5.51-4.25,18.06,18.06,0,0,1,7.7-1.55,22.57,22.57,0,0,1,5.94.76,14.54,14.54,0,0,1,4.9,2.34,12.73,12.73,0,0,1,3.49,4,14.67,14.67,0,0,1,1.73,5.72h-6.34A9.28,9.28,0,0,0,109.51,21.89Z"/><path class="cls-1" d="M151,52.63v-5.9h-.14a12.52,12.52,0,0,1-5,5.07,14.89,14.89,0,0,1-7.13,1.62,16.64,16.64,0,0,1-6.12-1,9.8,9.8,0,0,1-4-2.77,10.45,10.45,0,0,1-2.12-4.28,23,23,0,0,1-.61-5.51V15.41h6.12v25.2a7.4,7.4,0,0,0,2,5.47,7.52,7.52,0,0,0,5.55,2,12.41,12.41,0,0,0,4.86-.87,9.13,9.13,0,0,0,3.42-2.45,10.6,10.6,0,0,0,2.05-3.7,15.32,15.32,0,0,0,.68-4.65v-21h6.12V52.63Z"/><path class="cls-1" d="M171.5,15.41v7.85h.15a16.49,16.49,0,0,1,5.47-6.7,13.79,13.79,0,0,1,8.21-2V21a17.38,17.38,0,0,0-6.27,1A9.84,9.84,0,0,0,174.89,25a12.2,12.2,0,0,0-2.31,4.72,25.44,25.44,0,0,0-.72,6.37V52.63h-6.12V15.41Z"/><path class="cls-1" d="M215,50.26a16.9,16.9,0,0,1-10.51,3.16A19.09,19.09,0,0,1,196.74,52a15.2,15.2,0,0,1-5.51-4,17.2,17.2,0,0,1-3.35-6.19,30.2,30.2,0,0,1-1.26-7.85,22.23,22.23,0,0,1,1.3-7.77A18.34,18.34,0,0,1,191.55,20a16.48,16.48,0,0,1,5.55-4,16.89,16.89,0,0,1,7-1.44,15.23,15.23,0,0,1,8.24,2.06,16.1,16.1,0,0,1,5.26,5.22,20.48,20.48,0,0,1,2.73,6.91,29.67,29.67,0,0,1,.62,7.13H193.1a14.74,14.74,0,0,0,.58,4.64,10.47,10.47,0,0,0,2.09,3.89,10.23,10.23,0,0,0,3.67,2.7,12.71,12.71,0,0,0,5.25,1,10.61,10.61,0,0,0,6.38-1.8,8.75,8.75,0,0,0,3.27-5.48h6Q219.16,47.09,215,50.26Zm-1.48-23.91a10.42,10.42,0,0,0-9.75-6.41,10.73,10.73,0,0,0-4.29.83A9.84,9.84,0,0,0,196.2,23,11,11,0,0,0,194,26.39a12.8,12.8,0,0,0-.94,4.07h21.39A12.74,12.74,0,0,0,213.51,26.35Z"/><path class="cls-1" d="M255.52,1.22,282.6,42.91h.14V1.22h6.48V52.63h-7.49L254.88,11.38h-.15V52.63h-6.48V1.22Z"/><path class="cls-1" d="M353.08,15.41v5.4h-7.41V43.92a6.68,6.68,0,0,0,.18,1.73,1.81,1.81,0,0,0,.68,1,3,3,0,0,0,1.41.46,18.56,18.56,0,0,0,2.34.11h2.8v5.4H348.4a22.42,22.42,0,0,1-4.06-.32,6,6,0,0,1-2.74-1.19,5.09,5.09,0,0,1-1.55-2.45,14.33,14.33,0,0,1-.5-4.17V20.81h-6.34v-5.4h6.34V4.25h6.12V15.41Z"/><path class="cls-1" d="M385.48,50.26A16.9,16.9,0,0,1,375,53.42,19.09,19.09,0,0,1,367.23,52a15.29,15.29,0,0,1-5.51-4,17.2,17.2,0,0,1-3.35-6.19,30.2,30.2,0,0,1-1.26-7.85,22.46,22.46,0,0,1,1.3-7.77A18.36,18.36,0,0,1,362.05,20a16.44,16.44,0,0,1,5.54-4,17,17,0,0,1,7-1.44,15.23,15.23,0,0,1,8.24,2.06,16.1,16.1,0,0,1,5.26,5.22,20.71,20.71,0,0,1,2.74,6.91,30.16,30.16,0,0,1,.61,7.13H363.6a14.74,14.74,0,0,0,.57,4.64,10.47,10.47,0,0,0,2.09,3.89,10.23,10.23,0,0,0,3.67,2.7,12.72,12.72,0,0,0,5.26,1,10.6,10.6,0,0,0,6.37-1.8,8.66,8.66,0,0,0,3.27-5.48h6.05Q389.67,47.09,385.48,50.26ZM384,26.35a10.39,10.39,0,0,0-5.55-5.58,10.47,10.47,0,0,0-4.21-.83,10.68,10.68,0,0,0-4.28.83A9.78,9.78,0,0,0,366.69,23a11,11,0,0,0-2.16,3.35,12.53,12.53,0,0,0-.93,4.07H385A12.73,12.73,0,0,0,384,26.35Z"/><path class="cls-2" d="M397.85,49.32v2h-2v-2Z"/><path class="cls-2" d="M406.08,43.63a2.31,2.31,0,0,0-1.55-.49,2.83,2.83,0,0,0-1.39.31,2.48,2.48,0,0,0-.89.81,3.25,3.25,0,0,0-.47,1.16,6.1,6.1,0,0,0-.15,1.36,4.84,4.84,0,0,0,.16,1.26,3.46,3.46,0,0,0,.47,1.09,2.49,2.49,0,0,0,.85.76,2.55,2.55,0,0,0,1.24.29,2.51,2.51,0,0,0,1.77-.59,2.71,2.71,0,0,0,.79-1.68h1.56a4.33,4.33,0,0,1-1.28,2.67,4.06,4.06,0,0,1-2.82.93,4.78,4.78,0,0,1-1.88-.34,3.67,3.67,0,0,1-1.37-1,4.17,4.17,0,0,1-.83-1.51,6.12,6.12,0,0,1-.28-1.91,6.88,6.88,0,0,1,.27-2,4.66,4.66,0,0,1,.82-1.58,3.93,3.93,0,0,1,1.38-1.06,4.45,4.45,0,0,1,1.92-.39,5.48,5.48,0,0,1,1.49.19,3.55,3.55,0,0,1,1.22.59,3.11,3.11,0,0,1,.88,1,3.86,3.86,0,0,1,.43,1.44h-1.58A2.4,2.4,0,0,0,406.08,43.63Z"/><path class="cls-2" d="M418.43,51.28a2.25,2.25,0,0,1-1.1.23,1.34,1.34,0,0,1-.95-.33,1.47,1.47,0,0,1-.35-1.09,3.72,3.72,0,0,1-1.46,1.09,4.93,4.93,0,0,1-1.81.33,5.19,5.19,0,0,1-1.2-.14,2.86,2.86,0,0,1-1-.45,2.15,2.15,0,0,1-.66-.8,3.19,3.19,0,0,1,0-2.5,2.32,2.32,0,0,1,.71-.81,3.25,3.25,0,0,1,1-.48,10.88,10.88,0,0,1,1.16-.27,11.66,11.66,0,0,1,1.19-.19,6,6,0,0,0,1-.18,1.72,1.72,0,0,0,.69-.34.83.83,0,0,0,.25-.66,1.47,1.47,0,0,0-.19-.81,1.3,1.3,0,0,0-.49-.47,1.77,1.77,0,0,0-.66-.21,4.59,4.59,0,0,0-.73-.06,3.29,3.29,0,0,0-1.62.37,1.56,1.56,0,0,0-.7,1.4H410a3.18,3.18,0,0,1,.36-1.46,2.68,2.68,0,0,1,.86-1A3.75,3.75,0,0,1,412.5,42a6.92,6.92,0,0,1,1.48-.16,8.66,8.66,0,0,1,1.25.09,3.2,3.2,0,0,1,1.13.37,2.32,2.32,0,0,1,.81.78,2.54,2.54,0,0,1,.3,1.31v4.78a3.75,3.75,0,0,0,.06.79c.05.17.19.25.43.25a1.78,1.78,0,0,0,.47-.07Zm-2.49-4.77a1.85,1.85,0,0,1-.75.31,9.75,9.75,0,0,1-1,.16l-1,.15a3.69,3.69,0,0,0-.94.26,1.71,1.71,0,0,0-.67.51,1.44,1.44,0,0,0-.26.9,1.29,1.29,0,0,0,.15.64,1.34,1.34,0,0,0,.4.42,1.65,1.65,0,0,0,.56.23,3.11,3.11,0,0,0,.69.07,3.8,3.8,0,0,0,1.29-.2,2.83,2.83,0,0,0,.89-.52,2.25,2.25,0,0,0,.5-.68,1.72,1.72,0,0,0,.16-.69Z"/></g><g id="Layer_6" data-name="Layer 6"><path class="cls-3" d="M309.39,53.55,301.45,79.3h24.32l-8-28.37,2.06-1.09a13.69,13.69,0,1,0-19.94-12.15h0a13.66,13.66,0,0,0,2.18,7.37,13.81,13.81,0,0,0,5.81,5.08l2.25,1Zm-14.5,27.76,8.39-27.18a19.34,19.34,0,0,1-9.08-16.44h0a19.39,19.39,0,1,1,30.25,16L333.27,85H293.76Z"/></g></g></svg>

                                
                            
                                <span class="visually-hidden">Secure Note</span>
                            </a>
                        </div>
                        <div class="col-6 header-aside col-lg-4 d-flex justify-content-end"><a href="/" class="btn btn-secondary">Create Note</a> <a href="/generate-password" class="btn btn-secondary ms-1">Generate Password</a></div>
                    </div>
                </div>
            </div>
            <div id="sub-header" class="mb-2 mb-md-5">
                <div class="container pt-3 pb-3" >
                    <div class="row justify-content-md-center">
                        
                    </div>
                </div>
            </div>

            <div id="content">
                {% block body %}{% endblock %}
            </div>
            <div id="footer" class="mt-auto">
                <div class="container pt-5 pb-5">
                    <div class="row">
                        <div class="d-flex justify-content-md-between">

                            <div class="footer-info d-flex flex-column justify-content-between align-self-start justify-content-start">

                                <div><span><a href="/how-it-works">All cryptology is done in the browser</a>. The server never sees your unencrypted data or encryption key.</span></div>
                                
                                <div>
                                    <div class="form-check form-switch mt-4">
                                        <input class="form-check-input" type="checkbox" id="theme-switch">
                                        <label class="form-check-label" for="theme-switch">Light Theme</label>
                                      </div>
                                </div>

                                    
                            </div>
                            
                            <div class="footer-nav d-flex flex-column justify-content-between ms-5">
                                <a href="/how-it-works">How It Works</a>
                                <a href="/privacy">Privacy</a>
                                <a href="https://github.com/alexrs84/securenote" target="_blank">GitHub</a>
                                <div>
                                    <a href="mailto:info@securenote.ca">info@securenote.ca</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="footer-version-info">
                        <a href="https://github.com/alexrs84/securenote" target="_blank">{% include 'build-id.html' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9BJ869PPBF"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-9BJ869PPBF');
        </script>
    </body>
</html>